Build
Build.bat
MANIFEST.SKIP.bak
MANIFEST.bak
META.json
META.yml
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
blib/
.build/
_build/
cover_db/
inc/
.last_cover_stats
nytprof.out
pm_to_blib
*junit_output.xml
Sailthru-Client-*
